.firstsection {
    background-color:  #37517e;

    h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        margin: 0 0 10px 0;
    }

    h2 {
        color: rgb(255 255 255 / 60%);
        font-size: 24px;
    }

    .play_button {
        margin:30px 0 60px 0;

        .get_started {
            border: 2px solid #47b2e4;
            border-radius: 50px;
            padding: 8px 20px;
            margin-right: 40px;
            text-decoration: none;
            background-color: #47b2e4;
            
            &:hover {
                background-color: #42a5d2;
            }
        }
        a {
            text-decoration: none;

            img {
                position: absolute;
                left: 155px;
            }

        }

    }

    .computer {
        width: 550px;
        height: 450px;
    }

}

@media (max-width:768px) {
    .firstsection {

        .arsha {
            display: flex;
            flex-direction: column-reverse;
    
            .computer {
                height: 230px;
                width: 280px;
                margin-left: 100px;
            }

            .better_solutions {
                h1 {
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 1px;
                }

                h2 {
                    font-size: 12px;
                    text-align: center;
                    
                }

                .play_button {
                    text-align: center;

                    img {
                        margin-left: 120px;
                    }
                }
            }
        }
    }
    
}

@media (max-width:576px) {
    .firstsection {
        width: 340px;
        height: 560px;

        .container {
            padding-top: 50px;

            .computer {
                height: 220px;
                width: 260px;
                margin-left: 30px;
            }
    
            .better_solutions {
                h1 {
                    font-size: 30px;
                    margin-bottom: 5px;
                    line-height: 1.2;
                }
    
                h2 {
                    font-size: 18px;  
                }
    
                .play_button {
                    img {
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}